<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>Voir une annonce</h1>

<ul>
    <li>Titre : <%= annonce.titre %></li>
    <li>Description : <%= annonce.description %></li>
    <li>Adresse : <%= annonce.adresse %></li>
    <li>Code Postal : <%= annonce.code_postal %></li>
    <li>Ville : <%= annonce.ville %></li>
    <li>Prix : <%= annonce.prix %></li>
</ul>


